.appLogo {
    height: 54px;
    width: 142px;
    padding-right: 5px;
    float: left;
    background: url(pictures/appLogo_puppet.png) left center no-repeat;
    opacity: 0.5;
    -webkit-transition: 0.33s linear;
    -moz-transition: 0.33s linear;
}

.appLogo:hover {
    opacity: 1;
}

.appHeaderWrapper h1 {
    display: none;
}

.appHeaderWrapper {
    color: #747380;
    background-color: #38344B;
    background-image: none;
}

ul.appBarNav li.hasMenu a:hover, ul.appBarNav li a:hover
{
    background: #4C3272;
    color: white;
}

.splMenu-primary ul, .splMenu-primary li,
.splMenu-secondary ul, .splMenu-secondary a
{
    color: black;
    background-color: #FFF6E5;
}

.splMenu-primary li:hover,
.splMenu-secondary a:hover {
    color: #653413;
    background-color: white;
}

ul.accountBarItems li:hover, ul.accountBarItems a:hover, .auxLinks a:hover {
    background-color: #4C3272;
    color: white;
    text-decoration: none;
}

.auxLinks a {
    padding-left: 10px;
    padding-right: 10px;
}

.appHeaderWrapper a.help:hover,
.auxLinks a.help:hover {
    background-image: url(../../../img/skins/default/icon-help-12.png) no-repeat left center;
    background-color: #4C3272;
    color: white;
    text-decoration: none;
}

.splHeader-dashboard h2,
.dashboardContent .ServerSideInclude h2,
.dashboardContent .GenericHeader h3 {
    color: #38344B;
}

# classes used by eventtype renderer
.splEvent-et_blue    .t { color:#00F; }
.splEvent-et_green   .t { color:#0C0; }
.splEvent-et_magenta .t { color:#F09; }
.splEvent-et_orange  .t { color:#F30; }
.splEvent-et_purple  .t { color:#90C; }
.splEvent-et_red     .t { color:#F00; }
.splEvent-et_sky     .t { color:#09F; }
.splEvent-et_teal    .t { color:#099; }
.splEvent-et_yellow  .t { color:#990; }

